#### Directories to ignore for GIT
# service git folder
.git/
# service pyCharm folders
.idea/
__pycache__/

#### Files to ignore for GIT
# compiled python files
*.pyc

#### User files and folders
data/*.sqlite
data/*.sqlite-journal
data/*.bak
data/*.png
data/SQLiteSpy.*
data/files_info_all_together.txt
data/xray_test/
_tmp/*
data/calculated_statistics.txt
data/study_group_*.txt
data/list_*.txt
data/reports/
c_Process_Files/lungs_segmentation_caffe/test_*
d_Network_Training/graphs/
d_Network_Training/models/
d_Network_Training/classifiers/
*.cmd
*.hdf5
e_Deploy/test_data/
