#### Directories to ignore for GIT
# service git folder
.git/
# service pyCharm folders
.idea/
__pycache__/

#### Files to ignore for GIT
# compiled python files
*.pyc

#### User files and folders
data/*.sqlite
data/*.sqlite-journal
data/*.bak
data/SQLiteSpy.*
data/files_info_all_together.txt
_tmp/
a_Preliminary_Database_Trimming/log.txt